
body.night-mode{
    background-color: #2c2c2c;
}
.container.night-mode {
    background-color: #2c2c2c;
    color: #f1f1f1;
}

.container.night-mode .card {
    background-color: #3c3c3c;
    color: #f1f1f1;
}

.container.night-mode .card .card-title,
.container.night-mode .card .card-text {
    color: #f1f1f1;
}

.container.night-mode .btn {
    background-color: #555;
    color: #f1f1f1;
    border-color: #444;
}

.container.night-mode .btn:hover {
    background-color: #666;
    border-color: #555;
}

.container.night-mode .form-control {
    background-color: #444;
    color: #f1f1f1;
    border-color: #555;
}

.container.night-mode .form-control:focus {
    background-color: #555;
    color: #f1f1f1;
    border-color: #666;
}

.container.night-mode table tr, .container.night-mode table td {
    background-color: #555;
    color: #f1f1f1;
    border-color: #666;
}