<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
    <script src="/vendors/js/jquery.js"></script>
    <script src="/customs/js/index.js"></script>
</head>
<body>
    <h1 class="">Index Page</h1>

    <%- render_product_on_cart %>
</body>
</html>
